.hero {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    flex-direction: column;
}

.hero img {
    width: 200px;
    height: auto;
    display: flex;
    align-self: center;
}

.hero h1 {
    width: 1100px;
    align-self: center;
    font-size: 70px;
    margin-top: 2.5rem;
    letter-spacing: 1px;
}

.hero p {
    width: 800px;
    align-self: center;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 3rem;
}

.hero a {
    width: 150px;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 40px;
    align-items: center;
    font-size: 26px;
    margin-top: 100px;
}

.yellow-highlight {
    color: var(--color-yellow);
}

.highlight {
    font-weight: bold;
}

@media (max-width: 1310px) {
    .hero img {
        width: 150px;
    }

    .hero h1 {
        width: 950px;
        font-size: 60px;
        margin-top: 2rem;
    }
    .hero p {
        font-size: 18px;
    }

    .hero a {
        width: 130px;
        display: flex;
        justify-content: center;
        align-self: center;
        height: 30px;
        align-items: center;
        font-size: 22px;
        margin-top: 100px;
    }
  }

  @media (max-width: 1024px) {
    .hero h1 {
        width: 800px;
        font-size: 50px;
    }
    .hero p {
        width: 600px;
        font-size: 16px;
    }
  }

  @media (max-width: 768px) {
    .hero h1 {
        width: 700px;
        font-size: 40px;
    }
    .hero p {
        width: 500px;
        font-size: 14px;
    }
  }

  @media (max-width: 640px) {
    .hero img {
        width: 100px;
    }

    .hero h1 {
        width: 450px;
        font-size: 28px;
    }
    .hero p {
        width: 350px;
        font-size: 12px;
    }
  }

  @media (max-width: 475px) {
    .hero h1 {
        width: 300px;
        font-size: 24px;
    }
    .hero p {
        width: 250px;
        font-size: 12px;
    }
  }